:root {
  /* Colors */

  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);

  /* Products Fonts */
  --font-size-ssm: clamp(0.8rem, 2vw, 1rem);
  --font-size-sm: clamp(1rem, 3vw, 1.2rem);
  --font-size-md: clamp(1.3rem, 4vw, 1.4rem);
  --font-size-lg: clamp(1.8rem, 8vw, 2.3rem);

  /* Font Weights */
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* Body Font */
  --f-body: "Red Hat Text", sans-serif;
}
